[Unit]
Description=uWSGI Container Server for Stop Service App
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/var/www
Environment="PATH=/var/www/venv/bin"
ExecStart=/var/www/venv/bin/uwsgi --ini config/svcstopapp.ini

[Install]
WantedBy=multi-user.target