[Unit]
Description=Gunicorn instance to serve scvstopapp
After=network.target

[Service]
User=ec2-user
Group=www-data
WorkingDirectory=/var/www
Environment="PATH=/var/www/svcstopapp/svcstopappenv/bin"
ExecStart=var/www/svcstopapp/svcstopappenv/bin/gunicorn --workers 3 --bind unix:svcstopapp.sock -m 007 wsgi

[Install]
WantedBy=multi-user.target